* {
    font-family: helvetica;
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*35j1ig*_ga*MTU3NjIyODE0OC4xNjk5NjY5NTIz*_ga_3LRZM6TM9L*MTY5OTkzMDc1Mi4zLjEuMTY5OTkzNjk2OS4xMC4wLjA.");  
    text-align: center;
}

.brushes h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen ;
}

span {
    font-weight: bold;
    color: blue;
}

.frames h2 {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue ;
}
